# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# nuxt-auth-utils
NUXT_SESSION_PASSWORD=password-with-at-least-32-characters

# turso
TURSO_AUTH_TOKEN=
TURSO_DATABASE_URL=

# resend
NUXT_RESEND_API_KEY=